/******************************************
    Version: 1.0
/****************************************** */
@media only screen and (min-width: 1920px){}

@media (max-width: 1919px)  and (orientation: landscape){
	.inner-box-title{
		font-size: 30px;
	}

	.recipe-inner-box{
		list-style: none;
		margin: 31px 62px 31px 62px;
	}

	.recipe-inner-box li{
		font-size: 30px;
		line-height: 32px;
		padding-bottom: 31px;
	}
}

@media (max-width:1199px) and (orientation: landscape){
	.inner-box-title{
		font-size: 24px;
	}

	.recipe-inner-box{
		list-style: none;
		margin: 25px 50px 25px 50px;
	}	

	.recipe-inner-box li{
		font-size: 24px;
		line-height: 26px;
		padding-bottom: 25px;
	}
}

@media (max-width:799px) and (orientation: landscape){
	.inner-box-title{
		font-size: 14px;
	}

	.recipe-inner-box{
		list-style: none;
		margin: 15px 30px 15px 30px;
	}	

	.recipe-inner-box li{
		font-size: 14px;
		line-height: 16px;
		padding-bottom: 15px;
	}
}

@media (max-width:1919px) and (orientation: portrait){
	.section-title {
		width: 100vw;
		height: 5vh;
		max-width: 100vw;
		max-height: 5vh;
		overflow: auto;
		-ms-overflow-style: none;  /* IE and Edge */
    	scrollbar-width: none;  /* Firefox */
  		white-space: nowrap;
	}

	.section-title::-webkit-scrollbar {
		display: none;
	}

	.container-title{
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: auto;
		background-color: #eaeae7;
	}

	.inner-box-title{
		font-size: 30px;
		padding-right: 31px;
		padding-left: 31px;
	}

	.box-list{
		width: 100vw;
		max-width: 100vw;
		height: 95vh;
		max-height: 95vh;
	}

	.recipe-inner-box{
		list-style: none;
		margin: 31px 62px 31px 62px;
	}

	.recipe-inner-box li{
		font-size: 30px;
		line-height: 32px;
		padding-bottom: 31px;
	}

	.box-recipe{
		flex-direction: column;
	}
}

@media (max-width:1199px) and (orientation: portrait){
	.section-title {
		width: 100vw;
		height: 5vh;
		max-width: 100vw;
		max-height: 5vh;
		overflow: auto;
		-ms-overflow-style: none;  /* IE and Edge */
    	scrollbar-width: none;  /* Firefox */
  		white-space: nowrap;
	}

	.section-title::-webkit-scrollbar {
		display: none;
	}

	.container-title{
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: auto;
		background-color: #eaeae7;
	}

	.inner-box-title{
		font-size: 24px;
		padding-right: 25px;
		padding-left: 25px;
	}

	.box-list{
		width: 100vw;
		max-width: 100vw;
		height: 95vh;
		max-height: 95vh;
	}

	.recipe-inner-box{
		list-style: none;
		margin: 25px 50px 25px 50px;
	}

	.recipe-inner-box li{
		font-size: 24px;
		line-height: 26px;
		padding-bottom: 25px;
	}

	.box-recipe{
		flex-direction: column;
	}
}

@media (max-width:799px) and (orientation: portrait){
	.section-title {
		width: 100vw;
		height: 5vh;
		max-width: 100vw;
		max-height: 5vh;
		overflow: auto;
		-ms-overflow-style: none;  /* IE and Edge */
    	scrollbar-width: none;  /* Firefox */
  		white-space: nowrap;
	}

	.section-title::-webkit-scrollbar {
		display: none;
	}

	.container-title{
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: auto;
		background-color: #eaeae7;
	}

	.inner-box-title{
		font-size: 14px;
		padding-right: 15px;
		padding-left: 15px;
	}

	.box-list{
		width: 100vw;
		max-width: 100vw;
		height: 95vh;
		max-height: 95vh;
	}

	.recipe-inner-box{
		list-style: none;
		margin: 15px 30px 15px 30px;
	}

	.recipe-inner-box li{
		font-size: 14px;
		line-height: 16px;
		padding-bottom: 15px;
	}

	.box-recipe{
		flex-direction: column;
	}
}

