/******************************************
    Version: 1.0
/****************************************** */
@media only screen and (min-width: 2560px){}

@media (max-width: 2559px)  and (orientation: landscape){
	.inner-box-title{
		font-size: 30px;
		/* padding-left: 45px;
		padding-right: 45px; */
	}
	
	.recipe-inner-box li{ 
		padding: 22px 5vw 18px 5vw;
		font-size: 30px;
		line-height: 42px;
	}

	.container-header p{
		font-size: 30px;
		line-height: 36px;
	}

	#tooba-title{
		font-size: 60px;
	}
	
	#dot-title{
		font-size: 60px;
	}
}

@media (max-width: 1919px)  and (orientation: landscape){
	.box{
		border: 3px solid #151f26;
	}

	.inner-box-title{
		font-size: 20px;
		border-right: 3px solid #151f26;
		/* padding-left: 36px;
		padding-right: 36px; */
	}
	
	.recipe-inner-box li{ 
		padding: 15px 5vw 12px 5vw;
		font-size: 20px;
		line-height: 32px;
		border-top: 3px solid #D1D1CE;
    	border-bottom: 3px solid #EAEAE7;
	}

	.container-header p{
		font-size: 24px;
		line-height: 30px;
	}

	#ptitdej{
		background-color: #fec876;
		border-top: 3px solid #151f26;
		border-bottom: 3px solid #151f26;
	}

	#tooba-title{
		font-size: 48px;
	}
	
	#dot-title{
		font-size: 48px;
	}
}

@media (max-width: 1279px)  and (orientation: landscape){
	.box{
		border: 2px solid #151f26;
	}
	
	.inner-box-title{
		font-size: 12px;
		border-right: 2px solid #151f26;
		/* padding-left: 36px;
		padding-right: 36px; */
	}
	
	.recipe-inner-box li{ 
		padding: 8px 5vw 6px 5vw;
		font-size: 12px;
		line-height: 24px;
		border-top: 2px solid #D1D1CE;
    	border-bottom: 2px solid #EAEAE7;
	}

	.container-header p{
		font-size: 14px;
		line-height: 20px;
	}

	#ptitdej{
		background-color: #fec876;
		border-top: 2px solid #151f26;
		border-bottom: 2px solid #151f26;
	}

	#tooba-title{
		font-size: 28px;
	}
	
	#dot-title{
		font-size: 28px;
	}
}

@media (max-width: 768px)  and (orientation: landscape){
	.box{
		border: 1px solid #151f26;
	}
	
	.inner-box-title{
		font-size: 8px;
		border-right: 1px solid #151f26;
		/* padding-left: 36px;
		padding-right: 36px; */
	}
	
	.recipe-inner-box li{ 
		padding: 5px 5vw 4px 5vw;
		font-size: 8px;
		line-height: 18px;
		border-top: 1px solid #D1D1CE;
    	border-bottom: 1px solid #EAEAE7;
	}

	.container-header p{
		font-size: 8px;
		line-height: 14px;
	}

	#ptitdej{
		background-color: #fec876;
		border-top: 1px solid #151f26;
		border-bottom: 1px solid #151f26;
	}

	#tooba-title{
		font-size: 16px;
	}
	
	#dot-title{
		font-size: 16px;
	}

}

@media (max-width: 480px)  and (orientation: landscape){
	.box{
		border: 0.5px solid #151f26;
	}
	
	.inner-box-title{
		font-size: 4px;
		border-right: 0.5px solid #151f26;
		/* padding-left: 36px;
		padding-right: 36px; */
	}
	
	.recipe-inner-box li{ 
		padding: 4.5px 5vw 2px 5vw;
		font-size: 6px;
		line-height: 9px;
		border-top: 0.5px solid #D1D1CE;
    	border-bottom: 0.5px solid #EAEAE7;
	}

	.container-header p{
		font-size: 4px;
		line-height: 10px;
	}

	#ptitdej{
		background-color: #fec876;
		border-top: 0.5px solid #151f26;
		border-bottom: 0.5px solid #151f26;
	}

	#tooba-title{
		font-size: 8px;
	}
	
	#dot-title{
		font-size: 8px;
	}
}


