/******************************************
    Version: 1.0
/****************************************** */
@media only screen and (min-width: 1920px){}

@media (max-width: 1919px)  and (orientation: landscape){
	.inner-box-title{
		font-size: 30px;
	}

	.recipe-inner-box{
		list-style: none;
		margin: 62px;
		padding-bottom: 124px;
	}

	.recipe-inner-box li{
		font-size: 30px;
		line-height: 32px;
		padding-bottom: 31px;
	}
}

@media (max-width:1199px) and (orientation: landscape){
	.inner-box-title{
		font-size: 24px;
	}

	.recipe-inner-box{
		list-style: none;
		margin: 50px;
		padding-bottom: 100px;
	}	

	.recipe-inner-box li{
		font-size: 24px;
		line-height: 26px;
		padding-bottom: 25px;
	}
}

@media (max-width:799px) and (orientation: landscape){
	.header{
		border-bottom: 2px solid #151f26;
	}

	.inner-box-title{
		font-size: 14px;
	}

	.recipe-inner-box{
		list-style: none;
		margin: 30px;
		padding-bottom: 60px;
	}	

	.recipe-inner-box li{
		font-size: 14px;
		line-height: 16px;
		padding-bottom: 15px;
	}
}

@media (max-width:1919px) and (orientation: portrait){
	.header{
		border-bottom: 4px solid #151f26;
	}

	.section-title {
		width: 100vw;
		height: 5vh;
		max-width: 100vw;
		max-height: 5vh;
		overflow: auto;
		-ms-overflow-style: none;  /* IE and Edge */
    	scrollbar-width: none;  /* Firefox */
  		white-space: nowrap;
	}

	.section-title::-webkit-scrollbar {
		display: none;
	}

	.container-title{
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: auto;
		background-color: #eaeae7;
	}

	.inner-box-title{
		font-size: 30px;
		padding-right: 31px;
		padding-left: 31px;
		border-bottom: 4px solid #151f26;
		border-right: 4px solid #151f26;
	}

	.box-list{
		width: 100vw;
		max-width: 100vw;
		height: 95vh;
		max-height: 95vh;
	}

	.recipe-inner-box{
		list-style: none;
		margin: 62px;
		padding-bottom: 124px;
	}

	.recipe-inner-box li{
		font-size: 30px;
		line-height: 32px;
		padding-bottom: 31px;
	}

	.box-recipe{
		flex-direction: column;
	}
}

@media (max-width:1199px) and (orientation: portrait){
	.header{
		border-bottom: 3px solid #151f26;
	}

	.section-title {
		width: 100vw;
		height: 5vh;
		max-width: 100vw;
		max-height: 5vh;
		overflow: auto;
		-ms-overflow-style: none;  /* IE and Edge */
    	scrollbar-width: none;  /* Firefox */
  		white-space: nowrap;
	}

	.section-title::-webkit-scrollbar {
		display: none;
	}

	.container-title{
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: auto;
		background-color: #eaeae7;
	}

	.inner-box-title{
		font-size: 24px;
		padding-right: 25px;
		padding-left: 25px;
		border-bottom: 3px solid #151f26;
		border-right: 3px solid #151f26;
	}

	.box-list{
		width: 100vw;
		max-width: 100vw;
		height: 95vh;
		max-height: 95vh;
	}

	.recipe-inner-box{
		list-style: none;
		margin: 50px;
		padding-bottom: 100px;
	}

	.recipe-inner-box li{
		font-size: 24px;
		line-height: 26px;
		padding-bottom: 25px;
	}

	.box-recipe{
		flex-direction: column;
	}
}

@media (max-width:799px) and (orientation: portrait){
	.header{
		border-bottom: 2px solid #151f26;
	}

	.section-title {
		width: 100vw;
		height: 5vh;
		max-width: 100vw;
		max-height: 5vh;
		overflow: auto;
		-ms-overflow-style: none;  /* IE and Edge */
    	scrollbar-width: none;  /* Firefox */
  		white-space: nowrap;
	}

	.section-title::-webkit-scrollbar {
		display: none;
	}

	.container-title{
		height: 100%;
		width: 100%;
		display: grid;
		grid-template-columns: repeat(6, 1fr);
		grid-template-rows: auto;
		background-color: #eaeae7;
	}

	.inner-box-title{
		font-size: 18px;
		padding-right: 19px;
		padding-left: 19px;
		border-bottom: 2px solid #151f26;
		border-right: 2px solid #151f26;
	}

	.box-list{
		width: 100vw;
		max-width: 100vw;
		height: 95vh;
		max-height: 95vh;
	}

	.recipe-inner-box{
		list-style: none;
		margin: 38px;
		padding-bottom: 76px;
	}

	.recipe-inner-box li{
		font-size: 18px;
		line-height: 20px;
		padding-bottom: 19px;
	}

	.box-recipe{
		flex-direction: column;
	}
}

