/******************************************
    Version: 1.0
/****************************************** */
@media only screen and (min-width: 2560px){}

@media (max-width: 1919px)  and (orientation: landscape){
	.box{
		border: 3px solid #151f26;
	}

	.box-header{
		border-bottom: 3px solid #151f26;
	}

	.infos-inner-box{
		border-right: 3px solid #151f26;
	}
}

@media (max-width: 1279px)  and (orientation: landscape){
	.box{
		border: 2px solid #151f26;
	}

	.box-header{
		border-bottom: 2px solid #151f26;
	}

	.infos-inner-box{
		border-right: 2px solid #151f26;
	}
}

@media (max-width: 768px)  and (orientation: landscape){
	.box{
		border: 1px solid #151f26;
	}

	.box-header{
		border-bottom: 1px solid #151f26;
	}

	.infos-inner-box{
		border-right: 1px solid #151f26;
	}
}

@media (max-width: 480px)  and (orientation: landscape){
	.box{
		border: 0.5px solid #151f26;
	}

	.box-header{
		border-bottom: 0.5px solid #151f26;
	}

	.infos-inner-box{
		border-right: 0.5px solid #151f26;
	}
}

@media (orientation: portrait) {
	.box-header{
		height: 20vh;
		width: 100vw;
		max-width: 100vw;
		max-height: 20vh;
		flex-direction: column;
	}
	
	
	.header {
		background-color: #151f26;
		display: block;
		position: static;
		height: 10vh;
		width: 100vw;
		max-width: 100vw;
		max-height: 10vh;
	}

	.container-header {
		display: flex;
		height: 10vh;
		width: 100vw;
		max-width: 100vw;
		max-height: 10vh;
	}
	
	.container-header p{
		font-size: 2vh;
		line-height: 2.3vh;
	}
	
	#tooba-title{
		font-size: 4vh;
	}
	
	#dot-title{
		font-size: 4vh;
	}

	/* Title Section */

	.section-title {
		width: 100vw;
		height: 10vh;
		max-width: 100vw;
		max-height: 10vh;
	}

	.container-title h3{
		font-size: 2.5vh;
		font-weight: 700;
		padding-left: 2.5vw;
		margin-top: auto;
		margin-bottom: auto;
	}

	.box-recipe{
		flex-direction: column;
		height: 75vh;
		max-height: 75vh;
	}

	.section-info{
		width: 100vw;
		max-width: 100vw;
		height: 7.5vh;
		max-height: 7.5vh;
	}

	.container-info{
		width: 100vw;
		max-width: 100vw;
		height: 7.5vh;
		max-height: 7.5vh;
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: auto;
	}

	.infos-inner-box{
		display: flex;
		border-bottom: 4px solid #151f26;
		border-top: 0px solid #151f26;
		border-left: 0px solid #151f26;
		border-right: 0px solid #151f26;
		text-align: left;
		margin:0;
	}

	.infos-inner-box p{
		font-size: 2vh;
		line-height: 2.3vh;
	}

	.section-ingredient-recipe{
		width: 100vw;
		max-width: 100vw;
		height: 67.5vh;
		max-height: 67.5vh;
	}

	.section-ingredient{
		width: 40vw;
		max-width: 40vw;
		height: 67.5vh;
		max-height: 67.5vh;
	}

	.container-ingredient{
		margin: 2.5vh 2.5vw 2.5vh 5vw;
		grid-template-rows: 5vh 57.5vh;
		width: 32.5vw;
		max-width: 32.5vw;
		height: 62.5vh;
		max-height: 62.5vh;
	}

	.ingredient-title-inner-box{
		width: 32.5vw;
		max-width: 32.5vw;
		height: 5vh;
		max-height: 5vh;
	}

	.ingredient-title-inner-box h2{
		font-size: 2vh;
	}

	.ingredient-list-inner-box{
		width: 32.5vw;
		max-width: 32.5vw;
		height: 57.5vh;
		max-height: 57.5vh;
	}

	.ingredient-list-inner-box li{ 
		font-size: 1.5vh;
		line-height: 1.75vh;
		padding-bottom: 1.5vh;
	}

	.section-recipe{
		width: 60vw;
		max-width: 60vw;
		height: 67.5vh;
		max-height: 67.5vh;
	}

	.container-recipe{
		margin : 2.5vh 5vw 2.5vh 2.5vw;
		grid-template-rows: 5vh 67.5vh;
		width: 52.5vw;
		max-width: 52.5vw;
		height: 62.5vh;
		max-height: 62.5vh;
	}

	.recipe-title-inner-box{
		width: 52.5vw;
		max-width: 52.5vw;
		height: 5vh;
		max-height: 5vh;
	}

	.recipe-title-inner-box h2{
		font-size: 2vh;
	}

	.recipe-list-inner-box{
		width: 52.5vw;
		max-width: 52.5vw;
		height: 57.5vh;
		max-height: 57.5vh;
	}

	.recipe-list-inner-box ol{
		padding-bottom: 1vh;
		padding-left: 2.5vw;
	}
	
	.recipe-list-inner-box li{ 
		font-size: 1.5vh;
		line-height: 1.75vh;
		padding-bottom: 1.5vh;
	}

	.recipe-previous h2{
		font-size: 1vh;
		padding-left: 0.5vw;
	}

	.recipe-next h2{
		font-size: 1vh;
		padding-right: 0.5vw;
	}
}

@media (max-width: 1439px) and (orientation: portrait){
	.box{
		border: 3px solid #151f26;
	}

	.box-header{
		border-bottom: 3px solid #151f26;
	}

	.infos-inner-box{
		border-bottom: 3px solid #151f26;
	}
}

@media (max-width: 1079px) and (orientation: portrait){
	.box{
		border: 2px solid #151f26;
	}

	.box-header{
		border-bottom: 2px solid #151f26;
	}

	.infos-inner-box{
		border-bottom: 2px solid #151f26;
	}
}

@media (max-width: 768px) and (orientation: portrait){
	.box{
		border: 1px solid #151f26;
	}

	.box-header{
		border-bottom: 1px solid #151f26;
	}

	.infos-inner-box{
		border-bottom: 1px solid #151f26;
	}
}

@media (max-width: 480px) and (orientation: portrait){
	.box{
		border: 0.5px solid #151f26;
	}

	.box-header{
		border-bottom: 0.5px solid #151f26;
	}

	.infos-inner-box{
		border-bottom: 0.5px solid #151f26;
	}
}